@font-face {
    font-family: '.';
    src: url('d53dc9214d42c342b60aa4f4a18de9a1.eot');
    src: url('d53dc9214d42c342b60aa4f4a18de9a1.eot?#iefix') format('embedded-opentype'),
        url('d53dc9214d42c342b60aa4f4a18de9a1.woff2') format('woff2'),
        url('d53dc9214d42c342b60aa4f4a18de9a1.woff') format('woff'),
        url('d53dc9214d42c342b60aa4f4a18de9a1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

