@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #b01c31;
}

@font-face {
  font-family: 'Berlingske Serif';
  src: url('./fonts/Berlingske/BerlingskeSerif-Bold.eot');
  src: url('./fonts/Berlingske/BerlingskeSerif-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Berlingske/BerlingskeSerif-Bold.woff2') format('woff2'),
      url('./fonts/Berlingske/BerlingskeSerif-Bold.woff') format('woff'),
      url('./fonts/Berlingske/BerlingskeSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berlingske Serif Blk';
  src: url('./fonts/Berlingske/BerlingskeSerif-Blk.eot');
  src: url('./fonts/Berlingske/BerlingskeSerif-Blk.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Berlingske/BerlingskeSerif-Blk.woff2') format('woff2'),
      url('./fonts/Berlingske/BerlingskeSerif-Blk.woff') format('woff'),
      url('./fonts/Berlingske/BerlingskeSerif-Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/*

Graphik

*/


@font-face {
  font-family: 'Graphik Regular';
  src: url('./fonts/Graphik/Regular/d53dc9214d42c342b60aa4f4a18de9a1.eot');
  src: url('./fonts/Graphik/Regular/d53dc9214d42c342b60aa4f4a18de9a1.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Graphik/Regular/d53dc9214d42c342b60aa4f4a18de9a1.woff2') format('woff2'),
      url('./fonts/Graphik/Regular/d53dc9214d42c342b60aa4f4a18de9a1.woff') format('woff'),
      url('./fonts/Graphik/Regular/d53dc9214d42c342b60aa4f4a18de9a1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('./fonts/Graphik/Medium/Graphik-Medium.eot');
  src: url('./fonts/Graphik/Medium/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Graphik/Medium/Graphik-Medium.woff2') format('woff2'),
      url('./fonts/Graphik/Medium/Graphik-Medium.woff') format('woff'),
      url('./fonts/Graphik/Medium/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Semibold';
  src: url('./fonts/Graphik/Semibold/Graphik-Semibold.eot');
  src: url('./fonts/Graphik/Semibold/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Graphik/Semibold/Graphik-Semibold.woff2') format('woff2'),
      url('./fonts/Graphik/Semibold/Graphik-Semibold.woff') format('woff'),
      url('./fonts/Graphik/Semibold/Graphik-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('./fonts/Graphik/Bold/Graphik-Bold.eot');
  src: url('./fonts/Graphik/Bold/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Graphik/Bold/Graphik-Bold.woff2') format('woff2'),
      url('./fonts/Graphik/Bold/Graphik-Bold.woff') format('woff'),
      url('./fonts/Graphik/Bold/Graphik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 

Cereal

*/

@font-face {
  font-family: 'Cereal Book';
  src: url('./fonts/Cereal/Cereal-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Medium';
  src: url('./fonts/Cereal/Cereal-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cereal Bold';
  src: url('./fonts/Cereal/Cereal-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

